.button {
    font-size: 1.5em;
}




.boxes {
    margin-top: 3%;
    margin-left: 20%;
    border: black;
}

.boxe div {
    padding: 0.2vw;
    margin: 0.2vw;
    border-radius: 5%;
}

#top1 {
    height: 9vw;
    width: 10vw;
    background: darkgreen;
}

#top2 {
    height: 9vw;
    width: 10vw;
    background: darkred;
}

#top3 {
    height: 9vw;
    width: 10vw;
    background: cyan;
}

#bottom1 {
    height: 9vw;
    width: 10vw;
    background: goldenrod;
}

#bottom2 {
    height: 9vw;
    width: 10vw;
    background: darkblue;
}

#bottom3 {
    height: 9vw;
    width: 10vw;
    background: yellow;
}

#b-bottom1 {
    height: 9vw;
    width: 10vw;
    background: yellow;
}

#b-bottom2 {
    height: 9vw;
    width: 10vw;
    background: yellow;
}

#b-bottom3 {
    height: 9vw;
    width: 10vw;
    background: yellow;
}

